.main {
    position: relative;
    margin-top: 15rem;
    display: inline-flex;
}

@media only screen and (max-width: 768px){
    .main{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 5rem;
    }

    .pictureandbutton{
        width: 100px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 55%;
    }

    .picture {
        width: 150px !important;
        height: 150px !important;
    }

    .logoPicture {
        height: 200px !important;
    }
    .allText{
        margin-left:0%;
        width: 100%;
        justify-content: center;
    }

    .text{
    font-weight: bold;
    color: black;
    background-color: #44ddc1;
    margin-left:0 !important;
    width: 100% !important;
    }
}

.pictureandbutton {
    left: -30%;
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.picture {
    width:250px;
    height:250px;
    background-color:white;
    transform:rotate(45deg);
    overflow: hidden;
}

.logoPicture {
    padding-left: 30px;
    height: 350px;
    transform: rotate(-45deg);
}

.button {
    margin-top: 4rem;
      width:11.5em;
      height:61px;
      border-radius:30px;
      color:black;
      background-color:#44DDC0
}

.button:hover {
    background-color: rgba(255, 255, 255, 0);
    border: solid 1px #44ddc1;
    color: white;
}

.name {
    font-size: 2em;
}


.text {
    font-weight: bold;
    font-family: Inter;
    color: black;
    background-color: #44ddc1;
    border-radius: 20px;
    margin-left: 40%;
    width: 400px;
}

.allText {
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

 .animation {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
 }

 .socialmedia {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 30px;
 }

 .glow:hover {
    transform: scale(2);
 }