.main {
    position: relative;
    margin-top: 15rem;
    display: inline-flex;
}



.pictureandbutton {
    left: -30%;
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.picture {
    width:250px;
    height:250px;
    background-color:white;
     transform:rotate(45deg)
}

.button {
    margin-top: 4rem;
      width:11.5em;
      height:61px;
      border-radius:30px;
      color:black;
      background-color:#44DDC0
}

.text {
    margin-left: 40%;
    width: 400px;
}

.allText {
    display: flex;
    flex-direction: column;
}

 .animation {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
 }