.headerstyle {
    margin-left:2rem;
    color: white;
     font-size: 15px;
      position: relative;
      width: 100%;
      display: flex;
     flex-wrap: wrap;
     gap: 34px;
      justify-content: center;
      align-items: center;
     padding: 10px;
     box-sizing: border-box;
}

.linkstyle {
                background-color: transparent;
                margin-left: 50px;
                font-weight: normal;
                font-size: 15px;
}

@media only screen and (max-width: 768px) {
    .headerstyle {
        width: 100%;
        margin-left: 0;
    }
}
