.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.icon{
    width: 90px;
    height: 100px;
    transition: 2s;
}

.tooltip {
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    padding: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.svgViewer {
    width: 300px;
    height: 300px;
    transition: width 2s, height 2s;
}

.svgViewerActive {
    width: 400px;
    height: 400px;
    opacity: 20%;
}