.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

@media only screen and (max-width: 768px) {
  .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
  }
}

.icon.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .icon.hidden {
    opacity: 0;
    transform: translateY(70px);
  }

.icon{
    width: 80px;
    height: 90px;
    transition: 2s;
}

.description {
    font-size: 12px;
}