.main {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 1500px;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 8em;
    letter-spacing: 0.2em;
    font-weight: bold;
    color: #44DDC0;
    opacity: 0;
    transform:translateY(30px);
    transition: 3s ease-out, transform 3s ease-out;
}

@media only screen and (max-width: 768px) {
    .title {
      font-size: 2em;
      letter-spacing: 0.2em;
    font-weight: bold;
    }
    .main{
        display: flex;
        flex-direction: column ;
        width: 100%;
        height: 400px;
        margin-top: 0;
        justify-content: center;
    }

    .projectsText{
      margin-bottom: 2rem;
    }

    .box{
      border: 0 !important;
      align-items: center;
      justify-content: center;
    }

    .weatherApp {
      width: 200px !important;
      height: auto !important;
      margin: 0 !important;
    }

    .weatherAppPicture {
      width: 200px !important;
      height: 100px !important;
    }
  }

.box {
    border:1px solid #44DDC0;
    border-radius: 10px;
    top: -60px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.178);
    width: 80%;
    height: 80%;
    opacity: 0;
    transform:translateY(30px);
    transition: 3s ease-out, transform 3s ease-out;
    display: flex;
}

.text{
    font-size: 2em;
    color: rgba(255, 255, 255, 0.322);
}

.title.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .title.hidden {
    opacity: 0;
    transform: translateY(70px);
  }

  .box.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .box.hidden {
    opacity: 0;
    transform: translateY(70px);
  }

  .weatherApp {
    margin: 5% 0 0 5%;
    width: 300px;
    height: 350px;
    border:1px solid #44DDC0;
    border-radius: 20px;
  }

  .weatherAppPicture {
    width: 300px;
    height: 200px;
    border-radius: 20px;
  }

  .description {
    display: flex;
    flex-direction: column;
  }