.paragraph {
  font-size: 8em;
  letter-spacing: 0.6em;
  font-weight: bold;
    opacity: 0;
    transform:translateY(30px);
    transition: 3s ease-out, transform 3s ease-out;
  }
  
  .paragraph.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .paragraph.hidden {
    opacity: 0;
    transform: translateY(70px);
  }

  @media only screen and (max-width: 768px) {
    .paragraph {
      font-size: 3em;
      letter-spacing: 0.2em;
  font-weight: bold;
    }

    .main{
      margin-top: 0;
    }
  }