.main {
    margin-top: 10rem;
}

.title {
    font-size: 8em;
}

.firstYear {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    align-items: center;
}

.secondYear {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    align-items: center;
}

.secondYearText {
    width: 500px;
}

.firstYearText {
    width: 500px;
}


.learning {
    width: 500px;
    opacity: 0;
    transform:translateX(-70px);
    transition: 2s ease-out, transform 2s ease-out;
}

.learning.visible {
    opacity: 1;
    transform: translateX(0);
  }

  .learning.hidden {
    opacity: 0;
    transform: translateX(-70px);
  }

  .finished {
    opacity: 0;
    transform: translateX(70px);
    transition: 2s ease-out,transform 2s ease-out;
  }

  .finished.visible {
    opacity: 1;
    transform: translateX(0);
  }

  .finished.hidden {
    transform: translateX(70px)
  }