.mainDiv {
    position: fixed; /* Fiksni položaj preko cijele stranice */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Poluprozirna crna pozadina */
    color: #fff; /* Bijeli tekst za dobar kontrast */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Osiguraj da bude iznad svih ostalih elemenata */
    backdrop-filter: blur(5px); /* Zamagljivanje pozadine */
    pointer-events: auto;
}

.scroll {
   position: fixed;
   width: 100%;
}

.buttonmain {
    background-color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 768px){

}

